.fabric/
.out/
logs/
ModTranslations/
moddata/
coremods/
defaultconfigs/
not-enough-crashes/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
hotbar.nbt
patchouli_data.json
usercache.json