.fabric/
.vscode/
config/
!config.WindowTitleChanger/
coremods/
crash-reports/
defaultconfiigs/
emotes/
figura/
kubejs/
logs/
ModTranslations/
not-enough-crashes/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
options.justenoughkeys.txt
options.txt
patchouli_data.json
servers.dat_old
usercache.json

mods/starlight-1.0.2+fabric.89b8d9f.jar
mods/sodium-fabric-mc1.18.2-0.4.1+build.15.jar
mods/sodium-extra-0.4.6+mc1.18.2-build.46.jar
mods/smoothboot-fabric-1.18.2-1.7.0.jar
mods/skiptransitions-1.3.2+1.18.x.jar
mods/reeses_sodium_options-1.4.4+mc1.18.2-build.46.jar
mods/probejs-3.3.0-fabric.jar
mods/indium-1.0.7+mc1.18.2.jar
mods/ferritecore-4.2.1-fabric.jar
mods/cloth-config-6.2.62-fabric.jar
mods/ender_christmas-1.0.0+1.18.4337d14.jar
mods/charmonium-fabric-1.18.2-4.1.0.jar
