.fabric/
.vscode/
config/
!config.WindowTitleChanger/
coremods/
crash-reports/
defaultconfiigs/
emotes/
figura/
kubejs/
logs/
mods/.old/
ModTranslations/
not-enough-crashes/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
options.justenoughkeys.txt
options.txt
patchouli_data.json
servers.dat_old
usercache.json